<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Hero Component</title>
</head>
<body>

    <section class="hero">
        <div class="hero-text">
            <h1>Build with Flexbox</h1>
            <p>Practice creating responsive layouts with simple and powerful CSS Flexbox techniques.</p>
            <button class="hero-btn">Get Started</button>
        </div>

        <div class="hero-image">
            <img src="../navatara logo.jpg" alt="Hero Image">
        </div>
    </section>

</body>
</html>
