<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonial Box</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <section class="testimonial">
      <div class="testimonial-box">
        <h3 class="testimonial-name">Mourya</h3>
        <p class="testimonial-role">Customer</p>

        <p class="testimonial-text">
          “This service is absolutely amazing! The quality, speed, and support
          were beyond my expectations. Highly recommended!”
        </p>
      </div>
    </section>
  </body>
</html>
